{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
    <h4>Kindly input your details below to confirm your registration status</h4>
    <br>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      Page Refreshed successfully. Welcome to VoteChain
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="voterinfo">

      <form method="post">
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Enter your Username:</label>
          <input type="text" name="username" class="form-control" id="formGroupExampleInput" placeholder="John Doe">
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Enter your password:</label>
          <input type="text" name="password" class="form-control" id="formGroupExampleInput2" placeholder="example : 33209024">
        </div>
        <input type="submit" value="Login"  class="btn btn-success">
      </form>

      </div>
  </div>
{% endblock%}
 
