{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<!--Banner section-->
<section id="Banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="promo-title">WELCOME TO VOTECHAIN</p>
        <p id="promo-text">VoteChain an end-to-end verifiable e-voting scheme. That ensures high security,
          Verifiability and immense resilience against faults.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img src="static/images/vote2.jpeg" class="img-fluid" >
      </div>
    </div>

  </div>

</section>

<!--Services section-->

<section id="services">
  <div class="container text-center">
    <h3 class="title1">Services</h3>
    <div class="row text-center">
      <div class="col-md-4 services">
        <img src="static/images/secure3.jpg" class="service-img" alt="">
        <h4>Seamless Voting</h4>
        <p>VoteChain an end-to-end verifiable e-voting scheme. That ensures high security,
          Verifiability and immense resilience against faults.</p>
      </div>
      <div class="col-md-4 services">
        <img src="static/images/secure1.jpeg" class="service-img" alt="">
        <h4>Secure</h4>
        <p>VoteChain an end-to-end verifiable e-voting scheme. That ensures high security,
          Verifiability and immense resilience against faults.</p>
      </div>
      <div class="col-md-4 services">
        <img src="static/images/secure3.jpg" class="service-img" alt="">
        <h4>Auditable Vote</h4>
        <p>VoteChain an end-to-end verifiable e-voting scheme. That ensures high security,
          Verifiability and immense resilience against faults.</p>
      </div>
    </div>
    <br>
    <button type="button" class="btn btn-primary">All Services</button>
  </div>
</section>

  
{% endblock%}
