{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<!--Banner section-->
<section id="Banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="promo-title">WELCOME TO VOTECHAIN</p>
        <p id="promo-text">VoteChain an end-to-end verifiable e-voting scheme. That ensures high security,
          Verifiability and immense resilience against faults.<br>The system has fundamental 
          benefits over paper-based systems such as increased efficiency,lower 
          costs and reduced errors.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img src="static/images/vote2.jpeg" class="logo_img img-fluid" >
      </div>
    </div>

  </div>

</section>

<!--Services section-->

<section id="services">
  <div class="container text-center">
    <h3 class="title1">Services</h3>
    <div class="row text-center">
      <div class="col-md-4 services">
        <img src="static/images/secure3.jpg" class="service-img" alt="">
        <h4>Seamless Voting</h4>
        <p>VoteChain an end-to-end verifiable e-voting scheme. That ensures high security,
          Verifiability and immense resilience against faults.</p>
      </div>
      <div class="col-md-4 services">
        <img src="static/images/secure1.jpeg" class="service-img" alt="">
        <h4>Secure</h4>
        <p>VoteChain an end-to-end verifiable e-voting scheme. That ensures high security,
          Verifiability and immense resilience against faults.</p>
      </div>
      <div class="col-md-4 services">
        <img src="static/images/secure3.jpg" class="service-img" alt="">
        <h4>Auditable Vote</h4>
        <p>VoteChain an end-to-end verifiable e-voting scheme. That ensures high security,
          Verifiability and immense resilience against faults.</p>
      </div>
    </div>
    <br>
    <button type="button" id="myButton" class="btn btn-primary">All Services</button>
  </div>
</section>
<!--About Us-->

<section id="about-us">
  <div class="container">
    <h2 class="title text-center">Why VoteChain?</h2>
    <div class="row">
      <div class="col-md-6 about-us">
        <p class="about-title">
          Inspiration for?
        </p>
        <p>This project drew inspiration from the recently concluded general
          elections in kenya. The process was murred with a number of problems
          from irregularities,Lack of trust from all players, poor transmission
          of results and a very expensive election. This here is a low fidelity
          solution that attempts to solve this problems.
        </p>
        <ul>
          <li>VoteChain platform system</li>
          <li>Ensuring optimal security</li>
          <li>Immutable so vote is secure</li>
          <li>Can be audited to confirm integrity</li>
          <li>Fast and cost effective</li>
          <li>Honesty and integrity at the core</li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="static/images/audit1.webp" class="about-img img-fluid" alt="">
      </div>
    </div>
  </div>
</section>

<!--socials section-->
<section id="contact">
  <div class="container text-center">
    <p>PROJECT BY</p>
    <div class="row">
      <div class="col-md-6">
        <p>Elisha Mbadi</p>
        <div class="social-icons">
          <a href="#" class="fa-brands fa-twitter fa-2xl fa-shake"></a>
          <a href="https://github.com/elishambadi" class="fa-brands fa-github fa-2xl fa-shake"></a>
          <a href="https://www.linkedin.com/in/elisha-mbadi-4b1693165" class="fa-brands fa-linkedin fa-2xl fa-shake"></a>
        </div>
      </div>
      <div class="col-md-6">
        <p>Victor Juma</p>
        <div class="social-icons">
          <a href="#" class="fa-brands fa-twitter fa-2xl fa-shake"></a>
          <a href="https://github.com/JumaOchi" class="fa-brands fa-github fa-2xl fa-shake"></a>
          <a href="https://www.linkedin.com/in/victor-juma-837034185" class="fa-brands fa-linkedin fa-2xl fa-shake"></a>
        </div>
      </div>
      <a href="https://github.com/elishambadi/VoteChain23">project repo</a>
    </div>
  </div>

</section>

  
{% endblock%}
