{% extends 'base.html' %}

{% block title %} Vote {% endblock %}

{% block content %}
  
  <br>
  <h6 class="text-center" style="color: rgb(170, 170, 170);">VoteChain23</h6>
  <br>
  <div class="container text-center">
    <div class="row">
      {% if  election | length  == 0 %}
          <br><br>
          <p class="display-5">No elections running at this time</p>
        {% else %}
        <p>Election '{{ election[0]['name'] }}' is running.</p>
        <p class="display-6">
          <span>Remaining Time: </span>
          <span id="days"> days</span>
          <span id="hours"> hours</span>
          <span id="minutes"> mins</span>
          <span id="seconds"> secs</span>
          <span id="end"></span>
        </p>
        {% if  cands | length  == 0 %}
          <br><br>
          <p class="display-5">No candidates at this time</p>
        {% else %}
          <h5 class="text-center">Select your prefered candidate below</h5>
          {% for cand in cands %}
          <div class="col-md-3">
            <div class="card h-100" style="width: 18rem;">
              <!-- <img src="static/images/cliton avi.jpeg" class="card-img-top h-50" alt="..."> -->
              <div class="card-body">
                <h5 class="card-title"> {{ cand['name']}} </h5>
                <p class="card-text">Party: {{ cand['party'] }}</p>
                <p class="card-text">Position: {{ cand['position'] }}</p>
                <p class="card-text">County: {{ cand['county'] }}</p>
                <p class="card-text">County: {{ cand['email'] }}</p>
                <form method="post">
                  <!-- <input type="number" name="cand-id" id="cand-id" placeholder="Candidate ID"> -->
                  <input type="hidden" name="voted-cand-id" value="{{ cand['id_number'] }}">
                  <button type="submit" class="btn btn-primary">Vote</button>
                </form>
              </div>
            </div>
          </div> 
          {% endfor %}
        {% endif %}
      {% endif %}
      

      <!-- <div class="col-md-3 pb-3">
        <div class="card h-100" style="width: 18rem;">
          <img src="static/images/uhuru_kenyatta avi.jpeg" class="card-img-top h-50" alt="...">
          <div class="card-body">
            <h5 class="card-title">Uhuru Not Free</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary btn-success">Vote</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 pb-3">
        <div class="card h-100" style="width: 18rem;">
          <img src="static/images/trump avi.jpeg" class="card-img-top h-50" alt="...">
          <div class="card-body">
            <h5 class="card-title">Trump but Teana</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary btn-success">Vote</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 pb-3">
        <div class="card h-100" style="width: 18rem;">
          <img src="static/images/baba avi.jpeg" class="card-img-top h-50" alt="...">
          <div class="card-body">
            <h5 class="card-title">Hammer Not Odinga</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary btn-success">Vote</a>
          </div>
        </div>
      </div>
    </div> -->
  </div>

  <script>
    let endDate = new Date('{{ end_time}}').getTime()

    var myfunc = setInterval(function() {
      var now = new Date().getTime();
      var timeleft = endDate - now;
          
      var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
      var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

      document.getElementById("days").innerHTML = days + "d "
      document.getElementById("hours").innerHTML = hours + "h " 
      document.getElementById("minutes").innerHTML = minutes + "m " 
      document.getElementById("seconds").innerHTML = seconds + "s"

      if (timeleft < 0) {
        clearInterval(myfunc);
        document.getElementById("days").innerHTML = ""
        document.getElementById("hours").innerHTML = "" 
        document.getElementById("mins").innerHTML = ""
        document.getElementById("secs").innerHTML = ""
        document.getElementById("end").innerHTML = "TIME UP!!";
      }
    }, 1000)

  </script>

{% endblock%}
